@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Account.cshtml";
}
@Styles.Render("~/Content/css/customsweetcss")
<div class="wrapper-page">
    <div class="text-center">
        <a href="index-2.html" class="logo logo-lg"><i class="md md-equalizer"></i> <span>Mehul Industries</span> </a>
    </div>
    <form method="post" action="#" role="form" class="text-center m-t-20">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Enter your <b>Email</b> and instructions will be sent to you!
        </div>
        <div class="form-group m-b-0">
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter Email" required="" id="EmailId">
                <i class="md md-email form-control-feedback l-h-34" style="left:6px;"></i>
                <span class="input-group-btn"> <button type="submit" class="btn btn-email btn-primary waves-effect waves-light">Reset</button> </span>
            </div>
        </div>
    </form>
</div>
@Scripts.Render("~/Content/css/customsweetjs")
<script>
    $(document).ready(function () {
        $('[type="submit"]').on('click', function () {
            if ($('#EmailId').val() == "") {
                swal({
                    title: "Opppss...",
                    text: "Please enter Email Id.",
                    type: "error"
                });
                return false;
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("ForgetPassword","Account")',
                data: { EmailId: $('#EmailId').val() },
                success: function (result) {
                    if (result.IsSuccess) {
                        swal({
                            title: "That's Great :)",
                            text: "Password has been sent to given emailid, Please use that password for future login.",
                            type: "success"
                        }, function () {
                            window.location.href = '@Url.Action("Login","Account")'
                        });
                    }
                    else {
                        swal({
                            title: "Opppss...",
                            text: result.ResponseValue,
                            type: "error"
                        });
                    }
                }
            })
            return false;
        });
    });
</script>